<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center align-content-center text-align-center mt-3"
    >
      <!--Login -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginSubmit()">
        <p-card
          styleClass="mt-10"
          header="login"
          subheader="Faça Login com sua conta existente"
          *ngIf="loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="email"
            />
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
            />
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <button
              type="submit"
              pButton
              pRipple
              label="Login"
              [disabled]="!this.loginForm.valid"
            ></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="loginCard = !loginCard"
            style="cursor: pointer"
          >
            Criar conta
          </span>
        </p-card>
      </form>

      <!--Criar conta-->
      <form [formGroup]="sigupForm" (ngSubmit)="onSubmitSignupSubmit()">
        <p-card
          styleClass="mt-10"
          header="Criar conta"
          subheader="Crie já sua conta gratuita!"
          *ngIf="!loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="text"
              pInputText
              placeholder="Nome"
              formControlName="name"
            />
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="email"
            />
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
            />
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <button
              type="submit"
              pButton
              pRipple
              label="Criar Conta"
              [disabled]="!sigupForm.valid"
            ></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="loginCard = !loginCard"
            style="cursor: pointer"
          >
            Fazer Login
          </span>
        </p-card>
      </form>
    </div>
  </div>
</div>
